@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply font-inter text-primary;
}

/* .popular {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.bg-img,
.product-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
}

.bg-img {
    background-image: url(/landing.png);
}

button:disabled {
    @apply !cursor-not-allowed opacity-50
}

.no-scroll {
    overflow: hidden !important;
}